.App {
}

.warning {
    color: #f44336;
}

.mainContainer {
    padding-bottom: 2em;
}

.fixedPosition {
    position: fixed;
    top: 0;
}

.hidden {
    visibility: hidden;
}

.two-grid {
    display: grid;
    grid-template-columns: 6em 6em;
}
